<%- include("partials/header.ejs") %>
        <!-- stuff -->
        <div class="container px-4">
            <% if (textTitle.length > 0) { %>
                <ul style="padding-left: 0px; padding-right: 0px;">
                    <% for(let i=0; i<textTitle.length; i++) { %>
                        <!-- Blog Post -->
                        <li id="post<%= i %>" class="border position-relative rounded-3 px-4 pt-3 pb-2 mb-4">
                            <h1 class="ps-2" name="post<%= i %>"><%- textTitle[i] %></h1>
                            <hr>
                            <div id="textContainer<%= i %>">
                                <!-- Displayed Text | Default: shown -->
                                <p class="mb-4" id="post<%= i %>Body"><%- textBody[i].replace(/\n/g, '<br>') %></p>
                                <!-- Edit Text | Default: not shown -->
                                <textarea style="display: none;" class="form-control mb-4" id="post<%= i %>BodyEdit" name="tBody" placeholder="Follow up with your startling thoughts!"><%- textBody[i] %></textarea>
                                <!-- Buttons -->
                                <div id="mainButtonsContainer<%= i %>" class="position-absolute bottom-0 end-0">    
                                    <!-- Cancel Edit Button | Default: not shown -->
                                    <a style="display: none; font-size: 12px;" type="button" class="cancelEditBtn text-decoration-none" data-index="<%= i %>">Cancel</a>
                                    <!-- Edit/Save Post Button | Default: shown -->
                                    <button style="font-size: 12px;" class="btn editBtn ms-2" data-index="<%= i %>">Edit</button>
                                    <!-- Delete Button | Default: shown -->
                                    <button style="font-size: 12px;" class="btn deleteBtnColor xBtn" data-index="<%= i %>">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <!-- Delete Post Prompt | Default: not shown -->
                            <div style="display: none;" id="confirmDeleteContainer<%= i %>" class="position-absolute top-50 start-50 translate-middle p-0">
                                <div class="d-flex flex-column align-items-center w-100 h-100 border rounded-3 p-3 background-color">
                                    <p>Are you sure you wish to delete this post?</p>
                                    <div class="d-flex justify-content-center">
                                        <input type="hidden" name="index" value="<%= i %>">
                                        <button style="width: 100px;" class="btn keepBtn me-2" data-index="<%= i %>">
                                            Keep
                                        </button>
                                        <form action="/deletePost" method="post">
                                            <button style="width: 100px;" type="submit" class="btn deleteBtnColor">
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
            <h1>It's quiet here... <a href="/create-new-post" class="text-decoration-none">be the first to post!</a></h1>
            <% } %>
        </div>
    <script> 
        // Handles Edit/Save buttons
        const editButtons = document.querySelectorAll('.editBtn');
        editButtons.forEach(button => {   
            button.addEventListener("click", function () {
                const index = this.getAttribute("data-index");
                const bodyElement = document.getElementById(`post${index}Body`);
                const editBodyElement = document.getElementById(`post${index}BodyEdit`);
                const cancelEditBtn = document.querySelector(`.cancelEditBtn[data-index="${index}"]`);

                if (button.innerText === "Edit") {
                    const heightP = bodyElement.clientHeight;
                    const numLines = Math.floor(heightP / 22);
                    editBodyElement.rows = numLines;

                    bodyElement.style.display = "none";
                    editBodyElement.style.display = "inline-block";
                    cancelEditBtn.style.display = "inline-block";
                    button.innerText = "Save";
                } else {
                    const editedContent = editBodyElement.value;
                    // POST request
                    fetch('/savePost', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `index=${index}&editedContent=${editedContent}`,
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json(); // Parse the JSON response
                    })
                    .then(data => {
                        // Handle the response from the server
                        if (data.success) {
                            const updatedTextBody = data.updatedTextBody;
                            bodyElement.innerText = updatedTextBody[index];
                            
                            bodyElement.style.display = "inline-block";
                            editBodyElement.style.display = "none";
                            cancelEditBtn.style.display = "none";
                            button.innerText = "Edit";
                        } else {
                            console.error('Error: Server response indicates failure.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
            });
        });

        // Handles the Cancel buttons triggered after clicking the Edit button
        const cancelEditButtons = document.querySelectorAll('.cancelEditBtn');
        cancelEditButtons.forEach(button => {
            button.addEventListener('click', function () {
                const index = this.getAttribute("data-index");
                const bodyElement = document.getElementById(`post${index}Body`);
                const editBodyElement = document.getElementById(`post${index}BodyEdit`);
                const EditBtn = document.querySelector(`.editBtn[data-index="${index}"]`);

                bodyElement.style.display = "inline-block";
                editBodyElement.style.display = "none";
                button.style.display = "none";
                EditBtn.innerText = "Edit";
            });
        });

        // Handles X buttons
        const xButtons = document.querySelectorAll('.xBtn');
        xButtons.forEach(button => {
            button.addEventListener('click', function () {
                const index = this.getAttribute("data-index");
                const textContainer = document.getElementById(`textContainer${index}`);
                const confirmDeleteContainer = document.getElementById(`confirmDeleteContainer${index}`);
                const mainButtonsContainer = document.getElementById(`mainButtonsContainer${index}`);

                textContainer.classList.add("blur", "non-interactive");
                confirmDeleteContainer.style.display = "block";
                mainButtonsContainer.style.display = "none";
            });
        });

        // Handles Keep buttons
        const keepButtons = document.querySelectorAll('.keepBtn');
        keepButtons.forEach(button => {
            button.addEventListener('click', function () {
                const index = this.getAttribute("data-index");
                const textContainer = document.getElementById(`textContainer${index}`);
                const confirmDeleteContainer = document.getElementById(`confirmDeleteContainer${index}`);
                const mainButtonsContainer = document.getElementById(`mainButtonsContainer${index}`);

                textContainer.classList.remove("blur", "non-interactive");
                confirmDeleteContainer.style.display = "none";
                mainButtonsContainer.style.display = "block";
            });
        });
    </script>
<%- include("partials/footer.ejs") %>